
ProgressStream/.idea/.idea.ProgressStream/.idea/

ProgressStream/obj/Debug/net6.0/

ProgressStream/obj/

.DS_Store

.idea/.idea.ProgressStream/.idea/

ProgressStream/bin/Debug/net461/

ProgressStream/bin/Debug/net472/

ProgressStream/bin/Debug/net6.0/

ProgressStream/bin/Debug/

ProgressStream/bin/Release/net461/

ProgressStream/bin/Release/net472/

ProgressStream/bin/Release/net6.0/

ProgressStream/bin/Release/
